.DS_Store
.idea
.parcel-cache
.tmp

coverage
dist
node_modules
storybook-static

*.log
*.tsbuildinfo

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
