._19bv1vi7 {
  padding-left: 32px;
}
._19itlf8h {
  border: 2px solid blue;
}
._19pk1ul9 {
  margin-top: 30px;
}
._1wyb1ul9 {
  font-size: 30px;
}
._bfhk1gy6 {
  background-color: yellow;
}
._ca0q1vi7 {
  padding-top: 32px;
}
._n3td1vi7 {
  padding-bottom: 32px;
}
._syaz13q2 {
  color: blue;
}
._u5f31vi7 {
  padding-right: 32px;
}
