.media-screen-color-red {
  @media screen {
    color: red;
  }
}

.color-blue {
  color: blue;
}

@media (min-width: 500px) {
  ._171dak0l {
    border: 2px solid red;
  }
}
@media (min-width: 500px) {
  ._171dak0l {
    border: 2px solid red;
  }
  ._1swkri7e:before {
    content: 'large screen';
  }
}
