@media screen {
  .media-screen-color-red {
    color: red;
  }
}

.color-blue:hover {
  color: green;
}

.color-blue:focus {
  color: orange;
}

.color-blue {
  color: blue;
}

@media (min-width: 500px) {
  .media-min-width-border {
    border: 2px solid red;
  }
}

@media (min-width: 500px) {
  .media-min-width-border {
    border: 2px solid red;
  }
  .media-min-width-border:before {
    content: 'large screen';
  }
}
