body {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  line-height: 1.4;
  min-height: 100vh;
  position: relative;
  color: rgba(37, 56, 88, 0.9);
}

:target {
  margin-top: -57px;
  padding-top: 57px;
}

:root {
  /* Grid size */
  font-size: 8px;
}

* {
  box-sizing: border-box;
}
