{
  "presets": [
    ["@babel/preset-env", { "targets": { "browsers": "last 1 version" } }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    [
      "@compiled/babel-plugin",
      { "importReact": false, "optimizeCss": false, "flattenMultipleSelectors": true }
    ],
    [
      "@compiled/babel-plugin-strip-runtime",
      { "extractStylesToDirectory": { "source": "src", "dest": "dist" } }
    ]
  ]
}
